:root {
    --primary-color: #733634;
    --secondary-color: #484A4D;
    --accent1-color: #4F829A;
    --accent2-color: #D7EDF8;
}

h1, h2, p {
    color: var(--primary-color);
    font-family: 'Merriweather', serif;
}
  

p {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    margin-top: 0; /* Removes the top margin */
    margin-bottom: 0; /* Removes the bottom margin */
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks a img {
    border: none;
    width: 40px; 
    height: 40px; 
}

.footer {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    border: 1px solid black; 
    margin: 20px; 
    border-radius: 10px; 
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 1em;
    color: white;
    text-align: center;
}

.footer .sociallinks {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: auto;
}

.footer .sociallinks a {
    display: flex;
}

.footer .sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 5px
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    border: 1px solid black; 
    margin: 20px; 
    border-radius: 10px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    background-color: #f0f0f0;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto; 
}
  
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color : rgba(144, 151, 160, 0.5);
    padding: 5px;
    border-radius: 10px;
    font-size: 3em;
}
  
.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    color: white;
}
  
.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 150px; 
    height: auto; 
}
  
.hero article p {
    margin: 0;
    color: var(--accent2-color);
}

.history {
    padding: 20px;
    background-color: var(--accent2-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center; 
    justify-content: center;
    border: 1px solid black; 
    margin: 20px; 
    border-radius: 10px; 
}

.history h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 1px;
    text-align: center;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.history-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
}

.history-grid .text {
    width: 30%;
    padding: 10px;
}

.history-figure {
    width: 20%;
    text-align: center;
    margin: 0 20px;
}

.history-figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.history-figure figcaption {
    margin-top: 10px;
    font-size: 1em;
    color: var(--secondary-color);
}

.adventures {
    padding: 20px;
    background-color: var(--accent2-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center; 
    justify-content: center;
    border: 1px solid black; 
    margin: 20px; 
    border-radius: 10px;
}

.adventures h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 1px;
    text-align: center;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.adventure-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.adventure-grid figure {
    margin: 0;
    text-align: center;
}

.adventure-grid img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.adventure-grid figcaption {
    margin-top: 10px;
    font-size: 1em;
    color: var(--secondary-color);
}
